body{
	margin-top:2%;
	margin-left:7%;
	margin-right: 7%;
	padding:0;
	background-color: #454E57;
	color:white;
	font-family: arial;

}
#container{
	display:grid;
	grid-template-columns: auto; 
	

}
.main-heading{
	text-align: center;

}
hr{
	border: 2px solid #218DB1;
}
form > h3{
	color:white;
}
input{
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #78818A;
    background-color: #454E57;
    padding-left: 0;
}


.div1{
	display:grid;
	grid-template-columns: 60% 38%; 
	grid-gap: 2%;
	
	
}
.div2{
	display:grid;
	grid-template-columns: 60%;
}
.div3{
	display:grid;
	grid-template-columns: 100%;
	margin-top:2%;
}
.div4{
	display:grid;
	grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
	grid-gap:2%;
}
.div5{
	display:grid;
	grid-template-columns: 100%;
}

h5{
	color:#B7BCC2;
}
h6{
	color:#81888E;
}
.content2-2{
	display:grid;
	grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
	grid-gap:2%;
	

	
}
input[type="radio"]:checked + label {
	background-color: blue;


}

.label{
	border:1px solid grey;
	padding:18px 40px;
	flex-basis: 400px;
	display:grid;
	text-align: center;
}
.div6{
	display:grid;
	grid-template-columns: 50% 40%;
	grid-gap:5%;
	margin-top:20px;
	color:#BDC2C8;
	height:auto;

}.div7{
	

}
.div8{

}

input[type=checkbox]{
	
	width:20px;
	height:20px;
	color:#454E57;
	margin-left:10px;

}
.div9{
	display:grid;
	grid-template-columns: 100%;
}
textarea{
	text-align: bottom;
	
	border: 2px solid #78818A;
    background-color: #454E57;
    margin-top:2%;
    color:#81888E;
    font-family: arial;

}
#submit{
	padding:15px 20px;
	width:180px;
	margin-top:2%;
	color:white;
	font-family: arial;
	background-color: #00B1F4;
	border:1px solid grey;
}

.txt{
	color:white;
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border:solid #6D747E 2px;
    background-color: transparent;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: transparent;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

